.calendar thead th {
  text-align: center;
}

.calendar tbody td {
  text-align: center;
  border: 1px solid black;
  padding: 0.5rem;
}

.calendar tbody td:first-child {
  border-right: none;
}

.calendar tbody tr:first-child td {
  border-top: none;
}
